Repository communitypoweredbydlot/community-website, pull requests merged in 2020-09, with the labels that each got.

#21 update en and ro text, #12 #19
  content/en/JoinOurTeam.md
  content/en/OurStory.md
  content/en/PrivacyPolicy.md
  content/en/Projects.md
  content/en/Statement.md
  content/en/SupportUs.md
  content/en/TermsAndConditions.md
  content/ro/JoinOurTeam.md
  content/ro/OurStory.md
  content/ro/PrivacyPolicy.md
  content/ro/Projects.md
  content/ro/Statement.md
  content/ro/SupportUs.md
  content/ro/TermsAndConditions.md
Labels: join-our-team, old-website-port, privacy-policy, ro, support-us

#22 Move e-panel action icon to the left and adjust color, #20
  components/global/ExpansionPanelHeader.vue
Labels: old-website-port

#23 Change website styling
  assets/css/main.css
  components/LanguageSelect.vue
  components/Title.vue
  layouts/default.vue
  nuxt.config.js
  pages/JoinOurTeam.vue
  pages/OurStory.vue
  pages/PrivacyPolicy.vue
  pages/Projects.vue
  pages/SupportUs.vue
  pages/TermsAndConditions.vue
  pages/index.vue
Labels: old-website-port, styling
