Repository communitypoweredbydlot/community-website, pull requests merged in 2020-08, with the labels that each got.

#10 Resolve a few eslint errors, #1
  nuxt.config.js
  pages/ActivityReports.vue
  pages/JoinOurTeam.vue
  pages/News.vue
  pages/Projects.vue
  pages/SupportUs.vue
  pages/TermsAndConditions.vue
  pages/index.vue
Labels: old-website-port

#13 Create RO pages, #12
  content/ro/OurStory.md
  content/ro/PrivacyPolicy.md
  content/ro/Projects.md
  content/ro/Statement.md
Labels: homepage, old-website-port, our-story, privacy-policy, projects, ro

#15 Use plugins to export components for md and drop cdn fonts, #1
  components/global/MdImage.vue
  content/en/OurStory.md
  content/ro/OurStory.md
  layouts/default.vue
  nuxt.config.js
  package-lock.json
  package.json
  pages/OurStory.vue
  plugins/global-components.ts
  tsconfig.json
Labels: configuration, old-website-port

#14 Add linting action, #1
  .github/workflows/linter.yml
Labels: configuration, old-website-port

#18 Add Join Our Team page in en, #17
  components/global/ExpansionPanelHeader.vue
  content/en/JoinOurTeam.md
  pages/JoinOurTeam.vue
  pages/OurStory.vue
  pages/Projects.vue
  pages/SupportUs.vue
  pages/index.vue
  plugins/global-components.ts
Labels: enhancement, join-our-team
